* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#outer {
    position: relative;
    width: 100%;
    height: 100%;
    background: #FAFAFA;
}

    #outer .container {
        background-color: #d7d5d5;
        color: #663399;
        padding: 25px;
        width: 100%;
        max-width: 500px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        border-radius:3px;
    }

    #outer .game_area {
        background-color: #d7d5d5;
        color: #663399;
        padding: 25px;
        width: 100%;
        max-width: 60%;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        border-radius: 3px;
    }

.mathChallengeArea{
    background-color:#e4e1e1;

}
 .fullscreenDiv {
    background-color: rgba(232,232,232,0.7);
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}

.center {
    width: 100%;
    max-width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-size: 60px;
}